/* import google font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
body {
  font-family: Roboto;
}
/* top bar css  */
.top-bar .row .social > a {
  text-decoration: none;
  margin-left: 6px;
}
/* nav bar css  start */
.logo {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nav-link.user {
  position: absolute;
  top: 30px;
  left: -15px;
  color: #139ee6;
}
.nav-link .user-icon {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 4px;
  font-size: 24px;
}
.navbar-nav > li {
  margin-left: 30px;
}
.userContainer {
  position: relative;
}
/* nav bar css end  */
/* hero section css  */
.btn-info {
  background-color: #139ee6;
}
/* hoting type section css  */
.hotingType .row {
  --bs-gutter-x: 0;
}
.hotingType .col-md-2 {
  width: 20%;
  background-color: #139ee6;
  color: #fff;
  position: relative;
}
.hosting-icon {
  border: 1px solid #000;
  padding: 6px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 24px;
  position: absolute;
  top: -18px;
  left: 20px;
}
.server-icon {
  background-color: #139ee6;
  color: white;
  border-radius: 50%;
  padding: 10px;
}
.hotingType {
  position: relative;
}
.hotingType .row .type-des {
  transition: 0.5s;
}
.hotingType .row .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.hotingType .row .card:hover::before {
  background-color: #ffff;
  transform: scale(1.15);
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hotingType .row .card:hover .hosting-icon {
  z-index: 2;
}
.hotingType .row .card:hover .type-des {
  z-index: 2;
  color: #000;
}
/* newsletter css  */
.newsletter .input-group {
  position: relative;
}
.newsletter .input-group > select {
  position: absolute;
  right: 0;
  width: 100px;
  height: 38px;
  outline: none;
  border: none;
  background-color: #000;
  color: #fff;
}
.newsletter .btn-info {
  background-color: #139ee6;
}
.newsletter .btn-info:hover {
  background-color: #0874a9c9;
}
.row {
  --bs-gutter-x: 0;
}
/* feature css  */
.feature-top-heading {
  font-size: 16px;
  font-weight: 100;
}
.feature-heading {
  font-size: 48px;
}
.feature-icon {
  color: #139ee6;
  font-size: 30px;
}
.feature-hr {
  color: #139ee6;
  border: 2px solid #139ee6;
  width: 40px;
}
.feature-title {
  font-size: 18px;
}
.feature-des {
  font-size: 14px;
  font-weight: 400;
}
/* pricing section css  */
.price-heading {
  font-size: 48px;
}
.price-top-heading {
  font-size: 16px;
  font-weight: 100;
}
.priceContainer {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.uncheck-icon {
  font-size: 16px;
  color: #999999;
}
.check-icon {
  color: #139ee6;
  font-size: 16px;
  border: 1px solid #139ee6;
}
.price-info-text {
  font-size: 16px;
}
.server-price-top {
  background-color: #000;
}
.price-server-icon {
  width: 60px;
  height: 60px;
  background-color: #000;
  display: inline-block;
  border-radius: 50%;
  padding-left: 10px;
  box-sizing: border-box;
  position: relative;
  margin-top: -40px;
  margin-left: 110px;
}
.price-server-icon > i {
  font-size: 30px;
  position: absolute;
  color: #fff;
  border: 2px dotted #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 10px;
  border-radius: 50%;
  top: 5px;
  left: 6px;
}
.btn-order {
  background-color: #139ee6;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 7px;
  padding: 10px 30px;
}
.btn-order:hover {
  background-color: #000;
}
#btn-order:hover ~ .price-server-icon {
  background-color: #139ee6;
}

/* complete projects css  */
.completeTitle {
  font-size: 20px;
  font-weight: 300;
}
.completeNumber {
  font-size: 48px;
  font-weight: 500;
}
/* offer section css  */
#myTab.nav-tabs {
  border: none;
  --bs-nav-tabs-border-width: 0;
}
#myTab.nav-tabs > a {
  font-size: 30px;
  color: #139ee6;
}
.offerContainer.nav {
  color: #999999;
}
.offerContainer .nav .nav-item .active:hover {
  border-bottom: 1px solid #139ee6;
}

.tooltip-inner {
  background-color: #139ee6;
  padding: 10px 30px;
}
.tabs-quotes-des {
  color: #999999;
  border-left: 2px solid #ddd;
  padding-left: 20px;
}
.tabs-quotes-btn {
  text-decoration: none;
  color: #139ee6;
}
.tabs-quotes-icon {
  color: #139ee6;
}
.tabLinks {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.tab-content {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}
/* footer css  */
.footerbtn {
  color: #ffff;
  text-decoration: none;
}
.footerlogoicon {
  color: #139ee6;
}
.footer .navbar-brand {
  font-size: 30px;
}
.usefullLinkText {
  font-size: 18px;
}
.usefullLinks {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  transition: 0.5s;
}
.subscriptionDes {
  text-transform: capitalize;
  font-size: 14px;
}
.paymentcard {
  font-size: 30px;
}
/* location css  */

.location {
  background-color: #139ee6;
  color: #fff;
  padding: 10px;
}
.loactionIcon {
  font-size: 36px;
}
.locationText {
  font-size: 24px;
  font-weight: 300;
}
.locationAddress {
  font-size: 14px;
  font-weight: 100;
}
/* slider design css  */
.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.reviewIcon {
  color: #ddd;
  font-size: 70px;
  position: relative;
}
.reviewTitle {
  position: absolute;
  top: 51px;
  left: 29px;
  font-size: 24px;
}
.rating > i {
  color: #ddd;
}
.reviewDes {
  border-left: 2px solid #139ee6;
  color: #000;
  font-weight: 100;
}
.profile-reviewer {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
}
.reviewerName {
  font-size: 16px;
  font-weight: 400;
}
.reviewerAddress {
  font-size: 14px;
  font-weight: 100;
}
.cards-wrapper {
  position: relative;
}
.carousel-control-prev {
  position: absolute;
  top: 415px;
  left: 580px;
}
.carousel-control-next {
  position: absolute;
  top: 415px;
  right: 511px;
}
.cards-wrapper .card {
  border: none;
}
.carousel .carousel-control-prev-icon {
  background-image: url("");
}
.slider-slash {
  position: absolute;
  left: 698px;
  top: 402px;
}
.prev-arrow {
  width: 20px;
}
.next-arrow {
  width: 20px;
}
/* media query  */

@media screen and (max-width: 480px) {
  .logo {
    font-size: 24px;
  }
  .logo > i {
    display: none;
  }
  .top-bar {
    padding-top: 10px;
  }
  .hotingType .col-md-2 {
    width: 100%;
  }
}
