/* import google font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
body {
  font-family: Roboto;
}
/* top bar css  */
.top-bar .row .social > a {
  text-decoration: none;
  margin-left: 6px;
}
/* nav bar css  start */
.logo {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* nav bar css end  */

/* media query  */

@media screen and (max-width: 480px) {
  .logo {
    font-size: 24px;
  }
  .logo > i {
    display: none;
  }
  .top-bar {
    padding-top: 10px;
  }
}
